html {
    --light-bg-color: #ffffff;
    --dark-bg-color: #000000;

    --light-text-color: #000000;
    --dark-text-color: #ffffff;

    --light-bnt-bg-color: #ffffff;
    --dark-bnt-bg-color: #000000;

    --light-bnt-text-color: #000000;
    --dark-bnt-text-color: #ffffff;
}

.light-theme {
    --bg-color: var(--light-bg-color);
    --text-color: var(--light-text-color);
    --bnt-bg-color: var(--light-bnt-bg-color);
    --bnt-text-color: var(--light-bnt-text-color)
}

.dark-theme {
    --bg-color: var(--dark-bg-color);
    --text-color: var(--dark-text-color);
    --bnt-bg-color: var(--dark-bnt-bg-color);
    --bnt-text-color: var(--dark-bnt-text-color)
}

body {
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    max-width: 90%;
    margin: 0 auto;
    font-size: 18px;
}